body {
background-color:pink;
}
h1 {
color: black;
font-size:250%;
background-color: deeppink;
text-align: center;
padding: 25px;
border:15px solid black;
}
nav {
 background-color: black;
border:10px solid black;
 padding: 5px;
 overflow: hidden;
}
nav ul {
 list-style-type: none;
 margin: 2px;
 padding: 10px;
 display: flex;
}
nav li {
 disply: inline-block;
 margin-left: 50px;
 margin-right: 50px;
 font-size: 30px;
border: 10px solid white;
}
nav a {
 display: block;
background-color:deeppink;
 color: black;
 text-align: center;
 padding: 10px 10px;
 text-decoration: none;
border: 5px solid black;
}
h2{
font-size : 150%;
}
section {
display: block;
padding: 20px;
border: 10px solid black;
background-color: bisque;
line-height: 40px;
text-align:center;
}
.info {
color: black;
font-size: 150%;
}
.work {
font-size: 200%;
color: black;
background-color: lavender;
border: 5px solid black;
padding: 20px;
text-align: center;
}

.cvresume{
font-size: 50px;
color:pink;
background-color: black;
border: 5px solid deeppink;
text-align:center;
}
.links{
font-size: 150%;
text-align:center;
line-height: 70px;
}